:host::ng-deep{
  .p-toolbar {
    padding: 0 20px;
    border: none;
    border-radius: 0;
  }
  // Css  for the round-selector component
  .p-panel-header{
    padding-bottom: 5px;
  }
  .p-panel-header, .p-panel-content {
    background: #151414;
    color: white;
    border-radius: 0;
    border: none;
  }

  .p-panel-content h2 {
    font-weight: 400;
  }
  // .p-element .p-inputwrapper .p-inputwrapper-filled span {
  //   padding: 5px;      
  // }
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-container-blur{
  filter: blur(3px); /* Adjust the blur amount as needed */
  transition: filter 0.5s ease; /* Add a smooth transition effect */
}